<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/css/profile.css">
    <title>Вход выполнен</title>
</head>
<body>
    <h1 style="font-family: Pixel; color: #F1C40F; -webkit-text-stroke: 1px #B9770E;">Ваш профиль</h1>
    <div class="profile" style="font-family: Pixel; color: #F1C40F; -webkit-text-stroke: 1px #B9770E; font-size: 25px;">
        {{ range .}}
        <p>
            Имя: {{ .Name }}
        </p>
        <p>
            Фамилия: {{ .Second_Name }}
        </p>
        <p>
            Почта: {{ .Email }}
        </p>
        {{ end }}
    </div>
</body>
</html>